<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to bottom right, rgb(66, 0, 136), #012e56);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(194, 194, 194)
        }
    </style>
    <title>TSF Charity - Donation Cancelled</title>
</head>
<body>
    <h1>Donation Cancelled</h1>
    <p>Your donation was cancelled. Please try again.</p>
</body>
</html>
