<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <h1>Donate</h1>
        <h2 style="text-align: center"> Contribution can make a world of difference <br> Donate now to support a great
            cause!</h2>
        <form action="/donate" method="POST">
            <div style="display: flex; justify-content: center; gap: 35px; flex-wrap: wrap;">
                <div>
                    <label for="amount">Amount (₹):</label>
                    <input type="number" name="amount" id="amount" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
            </div>
            <button class="gradient-button" type="submit"><span class="inner-span">Donate</span></button>
        </form>
    </div>
</body>

</html>