<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Successful</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to bottom right, rgb(66, 0, 136), #012e56);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(194, 194, 194)
        }
    </style>
</head>
<body>
    <h1>Thank You for Your Donation!</h1>
    <p>You have successfully donated ₹<%= amount %>.</p>
</body>
</html>
